ul, ol, details {
	list-style-position: outside;
}

a {
	color: var(--brand);
}
a:where(:hover) {
	color: var(--brand-tint);
}

h2 {
	font-stretch: 25%;
	font-size: 2rem;
	line-height: var(--line-height-medium);
	font-weight: 200;
}
h3 {
	font-stretch: 60%;
	font-size: 1.2rem;
	line-height: var(--line-height-medium);
	font-weight: 700;
}

blockquote {
	border-left: 0.5rem solid var(--golden);
	padding-left: 1em;
}

picture.divider img {
	width: 100%;
	height: auto;
	box-shadow: var(--shadow-diffuse);
	margin: var(--big-gap) 0;
}

#issues > ol {
	padding-left: 0;
}
#issues > ol > li.disclosure {
	list-style-type: none;
}
#issues > ol > li {
	margin-top: var(--big-gap);
}
#issues > ol > li > details {
	--marker: "▶";
}
#issues > ol > li > details > summary {
	list-style-type: none;
}
#issues > ol > li > details[open] {
	--marker: "▼";
}
#issues > ol > li > details > summary h3::before {
	content: var(--marker) " " counter(list-item) ". ";
}
@media (min-width: 46rem) {
	#issues > ol > li > details {
		list-style-position: inside;
	}
	#issues > ol > li > details,
	#issues > ol > li > details > summary {
		list-style-position: outside;
	}
	#issues > ol > li > details > summary::marker {
		content: var(--marker) " " counter(list-item) ". ";
	}
	#issues > ol > li > details > summary h3::before {
		content: none;
	}
}

.deeplink {
	text-decoration: none;
	opacity: 0;
	margin-left: 0.5em;
	font-weight: normal;
}
.deeplink:focus, *:hover > .deeplink {
	opacity: 0.5;
}

.no-margin {
	margin: 0;
}

#biography {
	margin-top: var(--big-gap);
}

#biography img {
	width: 40vw;
	height: auto;
	float: right;
	margin: var(--float-margin);
	margin-top: 0;
	margin-right: calc(0px - var(--padding));
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}
@media (min-width: 42rem) {
	#biography img {
		margin-right: 0;
		border-radius: var(--border-radius);
		width: 16.8rem; /* This is its max variable width */
	}
}

ol#issues-summary {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
	margin-top: 2rem;
}
@media (min-width: 42rem) {
	ol#issues-summary {
		grid-template-columns: repeat(3, 1fr);
	}
}

ul.contact {
	display: flex;
	justify-content: center;
	gap: 2rem;
}
ul.contact .label {
	display: none;
}
@media (min-width: 42rem) {
	ul.contact .label {
		display: revert;
	}
}

#questions {
	margin-top: var(--big-gap);
}

#questions > ul > li + li {
	margin-top: 1rem;
}

#questions summary {
	--hanging-indent: 1em;
	font-weight: 500;
	font-size: 1.2rem;
	font-stretch: 100%;
	padding-left: var(--hanging-indent);
	text-indent: calc(0px - var(--hanging-indent));
}
#questions > ul > li:nth-child(6n + 1) summary::marker { color: var(--golden); }
#questions > ul > li:nth-child(6n + 2) summary::marker { color: var(--blue); }
#questions > ul > li:nth-child(6n + 3) summary::marker { color: var(--orange); }
#questions > ul > li:nth-child(6n + 4) summary::marker { color: var(--pewter); }
#questions > ul > li:nth-child(6n + 5) summary::marker { color: var(--green); }
#questions > ul > li:nth-child(6n + 6) summary::marker { color: var(--purple); }

footer {
	font-size: 0.8rem;
	font-stretch: 100%;
	background-color: var(--deep-blue);
	color: var(--grey-blue);
	margin-top: var(--big-gap);
	padding-bottom: var(--big-gap);
}

footer picture.divider img {
	margin-top: 0;
}

footer a {
	color: inherit;
}
footer a:hover {
	color: var(--grey-blue-tint);
}

footer nav {
	margin-top: var(--big-gap);
	display: flex;
	justify-content: center;
	gap: 2rem;
	font-size: 3rem;
}

footer nav > ul, footer nav > ul > li {
	display: contents !important;
}

footer nav svg {
	display: block;
}

details span.more {
	cursor: pointer;
	color: var(--brand);
	text-decoration: underline;
}
details span.more:where(:hover) {
	color: var(--brand-tint);
}
details[open] span.more {
	display: none;
}
