:root {
	--transition-duration: 0.3s;

	--border-radius: 0.5rem;
	--padding: 1rem;
	--header-padding: 15vh;
	--big-gap: 4rem;

	--line-height-relaxed: 1.5;
	--line-height-medium: 1.2;
	--line-height-tight: 1;

	--float-margin: 1ch;

	--max-width-normal: 40rem;
	--max-width-narrow: 36rem;
	--max-width-wide: 50rem;

	--shadow-diffuse: 0px 5px 30px rgba(0, 0, 0, 0.4);
	--shadow-subtle: 0px 5px 30px rgba(0, 0, 0, 0.2);

	--off-black: #1c1d1e;

	--deep-blue: #000307;
	--grey-blue: #7f8e97;
	--grey-blue-tint: #b0c4d0;

	--golden: #e7be0a;
	--golden-tint: #f5cc14;
	--orange: #cc3f0c;
	--orange-tint: #e7480d;
	--green: #33673b;
	--green-tint: #3d7b46;
	--pewter: #9cafb7;
	--pewter-tint: #acbcc3;
	--blue: #4281a4;
	--blue-tint: #5094b9;
	--purple: #843581;
	--purple-tint: #923a8f;

	--color-1: var(--golden);
	--color-1-tint: var(--golden-tint);
	--color-2: var(--orange);
	--color-2-tint: var(--orange-tint);
	--color-3: var(--green);
	--color-3-tint: var(--green-tint);
	--color-4: var(--pewter);
	--color-4-tint: var(--pewter-tint);
	--color-5: var(--blue);
	--color-5-tint: var(--blue-tint);
	--color-6: var(--purple);
	--color-6-tint: var(--purple-tint);

	--brand: var(--purple);
	--brand-tint: var(--purple-tint);
	--highlight: var(--golden);
}

@media (max-aspect-ratio: 9 / 17) {
	:root {
		--header-padding: 25vh;
	}
}

* {
	scroll-margin-top: var(--padding);
}

html {
	scroll-behavior: smooth;
	background-color: white;
	color: var(--off-black);
	accent-color: var(--brand);
	font-family: "Roboto Flex", sans-serif;
	line-height: var(--line-height-relaxed);
	font-stretch: 125%;
}

.big {
	font-size: 1.3rem;
	font-weight: 300;
	font-stretch: 110%;
}
.big strong {
	font-weight: 500;
}
.big strong strong {
	font-weight: bolder;
}

.unstyled:where(ul, ol) {
	display: block;
	list-style-type: none;
	padding-left: 0;
}
.unstyled:where(ul, ol) > li {
	display: block;
}

.youtube {
	display: block;
	width: 100%;
	height: auto;
	box-shadow: var(--shadow-subtle);
}
.youtube .prerender {
	aspect-ratio: 16 / 9;
	background-color: var(--pewter);
}

.container {
	padding: 0 var(--padding);
	max-width: var(--max-width-normal);
	margin-left: auto;
	margin-right: auto;
}
.container.narrow {
	max-width: var(--max-width-narrow);
}
.container.wide {
	max-width: var(--max-width-wide);
}

.card-container > li {
	display: contents;
}
a.card {
	display: grid;
	align-content: center;
	gap: 0.5rem;
	color: inherit;
	text-decoration: none;
	padding: var(--padding);
	border-radius: var(--border-radius);
	background-color: var(--brand);
	color: white;
	transition: background-color 0.3s;
	border-bottom: 0.75rem solid var(--brand-tint);
}
.card-container > :nth-child(6n + 1) a.card {
	background-color: var(--color-1);
	color: black;
	border-bottom-color: var(--color-1-tint);
}
.card-container > :nth-child(6n + 1) a.card:hover {
	background-color: var(--color-1-tint);
}
.card-container > li:nth-child(6n + 2) a.card {
	background-color: var(--color-2);
	color: white;
	border-bottom-color: var(--color-2-tint);
}
.card-container > li:nth-child(6n + 2) a.card:hover {
	background-color: var(--color-2-tint);
}
.card-container > li:nth-child(6n + 3) a.card {
	background-color: var(--color-3);
	color: white;
	border-bottom-color: var(--color-3-tint);
}
.card-container > li:nth-child(6n + 3) a.card:hover {
	background-color: var(--color-3-tint);
}
.card-container > li:nth-child(6n + 4) a.card {
	background-color: var(--color-4);
	color: black;
	border-bottom-color: var(--color-4-tint);
}
.card-container > li:nth-child(6n + 4) a.card:hover {
	background-color: var(--color-4-tint);
}
.card-container > li:nth-child(6n + 5) a.card {
	background-color: var(--color-5);
	color: white;
	border-bottom-color: var(--color-5-tint);
}
.card-container > li:nth-child(6n + 5) a.card:hover {
	background-color: var(--color-5-tint);
}
.card-container > li:nth-child(6n + 6) a.card {
	background-color: var(--color-6);
	color: white;
	border-bottom-color: var(--color-6-tint);
}
.card-container > li:nth-child(6n + 6) a.card:hover {
	background-color: var(--color-6-tint);
}
a.card .icon {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 3em;
	font-weight: 200;
}
a.card .label {
	font-stretch: 100%;
	font-weight: 350;
	line-height: var(--line-height-medium);
}

:target {
	animation-name: highlight;
	animation-duration: 5s;
}

@keyframes highlight {
	from, 50% {
		outline: 4px solid var(--highlight);
		outline-offset: 2px;
	}
	to {
		outline: 4px solid transparent;
		outline-offset: 4px;
	}
}

header#hero {
	background-color: var(--pewter);
	background-size: cover;
	background-image: url(https://votemarkwiens.imgix.net/vancouver/lee-robinson-Yc9h5SJdEzI-unsplash.jpg?auto=compress,format&q=75&rect=0.3,top,1988,2981&w=360);
	background-position: center 40%;
	display: grid;
	place-content: center;
	color: white;
	text-shadow:
		0 1px 50px rgba(0, 0, 0, 0.3),
		0 1px 30px rgba(0, 0, 0, 0.1),
		0 1px 10px rgba(0, 0, 0, 0.1),
		0 1px 5px rgba(0, 0, 0, 0.1),
		0 1px 2px rgba(0, 0, 0, 0.3);
	padding: var(--header-padding) var(--padding);
	box-shadow: var(--shadow-diffuse);
}
@media (min-device-pixel-ratio: 1.5) {
	header#hero {
		background-image: url(https://votemarkwiens.imgix.net/vancouver/lee-robinson-Yc9h5SJdEzI-unsplash.jpg?auto=compress,format&q=60&rect=0.3,top,1988,2981&w=720);
	}
}
@media (min-width: 640px) {
	header#hero {
		background-image: url(https://votemarkwiens.imgix.net/vancouver/lee-robinson-Yc9h5SJdEzI-unsplash.jpg?auto=compress,format&q=75&rect=center,top,2981,2981&w=768);
	}
}
@media (min-device-pixel-ratio: 1.5) and (min-width: 640px) {
	header#hero {
		background-image: url(https://votemarkwiens.imgix.net/vancouver/lee-robinson-Yc9h5SJdEzI-unsplash.jpg?auto=compress,format&q=60&rect=center,top,2981,2981&w=1536);
	}
}
@media (min-width: 1024px) {
	header#hero {
		background-image: url(https://votemarkwiens.imgix.net/vancouver/lee-robinson-Yc9h5SJdEzI-unsplash.jpg?auto=compress,format&q=75&w=1280);
	}
}
@media (min-device-pixel-ratio: 1.5) and (min-width: 1024px) {
	header#hero {
		background-image: url(https://votemarkwiens.imgix.net/vancouver/lee-robinson-Yc9h5SJdEzI-unsplash.jpg?auto=compress,format&q=60&w=2560);
	}
}
@media (min-width: 1600px) {
	header#hero {
		background-image: url(https://votemarkwiens.imgix.net/vancouver/lee-robinson-Yc9h5SJdEzI-unsplash.jpg?auto=compress,format&q=75&w=1920);
	}
}
@media (min-device-pixel-ratio: 1.5) and (min-width: 1600px) {
	header#hero {
		background-image: url(https://votemarkwiens.imgix.net/vancouver/lee-robinson-Yc9h5SJdEzI-unsplash.jpg?auto=compress,format&q=60&w=3840);
	}
}

h1 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 300;
	font-size: 6vw;
	line-height: var(--line-height-tight);
	font-stretch: 25%;
}
h1 strong {
	display: block;
	font-weight: 900;
	font-size: 233%;
}

@media (min-width: 42rem) {
	h1 {
		font-size: min(4vw, 50px);
	}
}

#introduction .youtube {
	margin-top: calc(0px - var(--padding) - var(--header-padding) / 2);
	margin-bottom: 2rem;
}
