:root {
	--transition-duration: 0.3s;

	--line-height-relaxed: 1.5;

	--off-black: #1c1d1e;

	--golden: #e7be0a;
	--golden-tint: #f5cc14;
	--purple: #843581;
	--purple-tint: #923a8f;

	--brand: var(--purple);
	--brand-tint: var(--purple-tint);
	--highlight: var(--golden);
}

html {
	background-color: white;
	color: var(--off-black);
	accent-color: var(--brand);
	font-family: sans-serif;
	line-height: var(--line-height-relaxed);
}

a {
	color: var(--brand);
	transition: color var(--transition-duration);
}
a:where(:hover) {
	color: var(--brand-tint);
}
