//- From Super Tiny Icons

mixin icon_instagram
	svg(role="none" viewBox="34 34 444 444" fill="none" stroke="currentColor" stroke-width="18" width="1em" height="1em")&attributes(attributes)
		rect(width=308 height=308 x=102 y=102 rx=81)
		circle(cx=256 cy=256 r=72)
		circle(cx=347 cy=165 r=6)

//- The rest are from Material

mixin icon_ads_click
	svg(viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor")&attributes(attributes)
		path(d="M11.4 16.95q-1.875-.225-3.138-1.625Q7 13.925 7 12q0-2.075 1.463-3.538Q9.925 7 12 7q1.925 0 3.325 1.25 1.4 1.25 1.625 3.15l-1.075-.325q-.325-1.35-1.387-2.212Q13.425 8 12 8q-1.65 0-2.825 1.175Q8 10.35 8 12q0 1.425.875 2.5t2.2 1.4Zm1.2 4.025q-.15.025-.3.025H12q-1.875 0-3.512-.712-1.638-.713-2.85-1.926-1.213-1.212-1.926-2.85Q3 13.875 3 12t.712-3.513q.713-1.637 1.926-2.85 1.212-1.212 2.85-1.925Q10.125 3 12 3t3.513.712q1.637.713 2.85 1.925 1.212 1.213 1.925 2.85Q21 10.125 21 12v.3q0 .15-.025.3L20 12.3V12q0-3.35-2.325-5.675Q15.35 4 12 4 8.65 4 6.325 6.325 4 8.65 4 12q0 3.35 2.325 5.675Q8.65 20 12 20h.3Zm7.15-.175-4.8-4.825-.9 2.8L12 12l6.775 2.05-2.8.9 4.825 4.8Z")

mixin icon_call
	svg(viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor")&attributes(attributes)
		path(d="M18.9 19.875q-2.6 0-5.262-1.325-2.663-1.325-4.788-3.462Q6.725 12.95 5.388 10.3 4.05 7.65 4.05 5.05q0-.45.3-.75T5.1 4h2.45q.45 0 .75.25t.375.675l.5 2.375q.075.4-.012.712-.088.313-.338.538L6.65 10.6q1.325 2.225 3.013 3.887 1.687 1.663 3.937 2.938l2.125-2.2q.25-.25.563-.35.312-.1.662-.025l2.1.425q.4.1.65.4.25.3.25.725v2.425q0 .45-.3.75t-.75.3ZM6.15 9.65 8.075 7.9q.1-.1.125-.225.025-.125 0-.25L7.75 5.3q-.05-.15-.137-.225Q7.525 5 7.375 5h-2.05q-.125 0-.2.075-.075.075-.075.2.025 1.025.313 2.137.287 1.113.787 2.238Zm8.375 8.225q1.025.5 2.175.738 1.15.237 2 .262.1 0 .175-.075.075-.075.075-.2v-2q0-.15-.075-.25t-.225-.15l-1.85-.375q-.1-.025-.187 0-.088.025-.188.125ZM6.15 9.65Zm8.375 8.225Z")

mixin icon_construction
	svg(viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor")&attributes(attributes)
		path(d="m18.05 19.95-5.175-5.175 1.075-1.05 5.175 5.15Zm-13.125 0-1.05-1.075L10.45 12.3l-2.5-2.475-.55.55-.95-.975v1.8l-.55.55-2.6-2.625.525-.55h1.8l-.95-.95 2.175-2.15q.325-.35.738-.513Q8 4.8 8.475 4.8q.475 0 .875.162.4.163.75.513l-1.65 1.65L9.55 8.2 9 8.75l2.5 2.5 2.775-2.775q-.25-.325-.337-.675-.088-.35-.088-.775 0-1.225.85-2.075.85-.85 2.075-.85.25 0 .5.037.25.038.475.163l-2.075 2.075 1.775 1.75 2.075-2.075q.1.25.138.487.037.238.037.488 0 1.225-.85 2.075-.85.85-2.075.85-.425 0-.762-.088-.338-.087-.688-.312Z")

mixin icon_forum
	svg(viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor")&attributes(attributes)
		path(d="M3.375 15.55V3.775q0-.325.225-.55Q3.825 3 4.15 3h11.925q.325 0 .55.225.225.225.225.55V11.7q0 .325-.225.537-.225.213-.55.213H6.45Zm3.85.675q-.325 0-.55-.213-.225-.212-.225-.562v-1H18.2l.65.65V6h1q.325 0 .55.225.225.225.225.55V19.3l-3.075-3.075ZM15.85 4H4.375v9.125L6.05 11.45h9.8ZM4.375 4v9.125Z")

mixin icon_group
	svg(viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor")&attributes(attributes)
		path(d="M2.6 18.625v-1.65q0-.7.363-1.2.362-.5.962-.8 1.3-.625 2.588-.987 1.287-.363 3.087-.363 1.8 0 3.088.363 1.287.362 2.587.987.6.3.963.8.362.5.362 1.2v1.65Zm16 0v-1.7q0-.875-.35-1.65-.35-.775-1-1.325.725.15 1.413.425.687.275 1.362.6.65.325 1.013.837.362.513.362 1.113v1.7Zm-9-7.25q-1.25 0-2.125-.875T6.6 8.375q0-1.225.875-2.113.875-.887 2.125-.887 1.225 0 2.113.887.887.888.887 2.113 0 1.25-.887 2.125-.888.875-2.113.875Zm7.275-3q0 1.25-.887 2.125-.888.875-2.113.875-.075 0-.175-.012-.1-.013-.15-.013.5-.625.775-1.388.275-.762.275-1.587 0-.8-.288-1.55-.287-.75-.762-1.4.075-.025.15-.038.075-.012.175-.012 1.225 0 2.113.887.887.888.887 2.113ZM3.6 17.625h12v-.65q0-.35-.175-.612-.175-.263-.625-.513-1.125-.6-2.362-.912-1.238-.313-2.838-.313t-2.837.313q-1.238.312-2.363.912-.45.25-.625.513-.175.262-.175.612Zm6-7.25q.825 0 1.413-.588.587-.587.587-1.412t-.587-1.412q-.588-.588-1.413-.588-.825 0-1.412.588Q7.6 7.55 7.6 8.375t.588 1.412q.587.588 1.412.588Zm0 7.25Zm0-9.25Z")

mixin icon_language
	svg(viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor")&attributes(attributes)
		path(d="M12 21q-1.85 0-3.5-.712-1.65-.713-2.862-1.926Q4.425 17.15 3.712 15.5 3 13.85 3 12q0-1.875.712-3.513.713-1.637 1.926-2.85Q6.85 4.425 8.5 3.712 10.15 3 12 3q1.875 0 3.513.712 1.637.713 2.85 1.925 1.212 1.213 1.925 2.85Q21 10.125 21 12q0 1.85-.712 3.5-.713 1.65-1.925 2.862-1.213 1.213-2.85 1.926Q13.875 21 12 21Zm0-1q.875-1.125 1.45-2.212.575-1.088.925-2.438h-4.75q.4 1.425.95 2.512Q11.125 18.95 12 20Zm-1.275-.15q-.7-.825-1.275-2.038-.575-1.212-.85-2.462H4.75q.875 1.85 2.45 3.05 1.575 1.2 3.525 1.45Zm2.55 0q1.95-.25 3.525-1.45t2.45-3.05H15.4q-.375 1.275-.95 2.487-.575 1.213-1.175 2.013Zm-8.925-5.5h4.025q-.1-.625-.15-1.2-.05-.575-.05-1.15t.05-1.15q.05-.575.15-1.2H4.35q-.175.525-.262 1.137Q4 11.4 4 12q0 .6.088 1.212.087.613.262 1.138Zm5.025 0h5.25q.1-.625.15-1.188.05-.562.05-1.162 0-.6-.05-1.163-.05-.562-.15-1.187h-5.25q-.1.625-.15 1.187-.05.563-.05 1.163 0 .6.05 1.162.05.563.15 1.188Zm6.25 0h4.025q.175-.525.263-1.138Q20 12.6 20 12t-.087-1.213q-.088-.612-.263-1.137h-4.025q.1.625.15 1.2.05.575.05 1.15t-.05 1.15q-.05.575-.15 1.2Zm-.225-5.7h3.85q-.875-1.9-2.413-3.05-1.537-1.15-3.562-1.475.7.925 1.263 2.113.562 1.187.862 2.412Zm-5.775 0h4.75q-.4-1.4-.975-2.538Q12.825 4.975 12 4q-.825.975-1.4 2.112-.575 1.138-.975 2.538Zm-4.875 0H8.6q.3-1.225.863-2.412.562-1.188 1.262-2.113-2.05.325-3.575 1.487-1.525 1.163-2.4 3.038Z")

mixin icon_local_police
	svg(viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor")&attributes(attributes)
		path(d="M9.925 14.6 12 13l2.025 1.55-.775-2.5 2.125-1.675h-2.55L12 7.825l-.825 2.55h-2.55L10.7 12.05ZM12 20.95q-3.025-.875-5.013-3.638Q5 14.55 5 11.1V5.7l7-2.625L19 5.7v5.4q0 3.45-1.988 6.212Q15.025 20.075 12 20.95Zm0-1.05q2.6-.825 4.3-3.3 1.7-2.475 1.7-5.5V6.375L12 4.15 6 6.375V11.1q0 3.025 1.7 5.5t4.3 3.3Zm0-7.875Z")

mixin icon_mail
	svg(viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor")&attributes(attributes)
		path(d="M4.625 19q-.7 0-1.162-.462Q3 18.075 3 17.375V6.625q0-.7.463-1.162Q3.925 5 4.625 5h14.75q.7 0 1.163.463.462.462.462 1.162v10.75q0 .7-.462 1.163-.463.462-1.163.462ZM12 12.125l-8-5.25v10.5q0 .275.175.45t.45.175h14.75q.275 0 .45-.175t.175-.45v-10.5ZM12 11l7.7-5H4.3ZM4 6.875V6v11.375q0 .275.175.45t.45.175H4v-.625Z")

mixin icon_public
	svg(viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor")&attributes(attributes)
		path(d="M24 44q-4.15 0-7.8-1.575-3.65-1.575-6.35-4.275-2.7-2.7-4.275-6.35Q4 28.15 4 24t1.575-7.8Q7.15 12.55 9.85 9.85q2.7-2.7 6.35-4.275Q19.85 4 24 4t7.8 1.575q3.65 1.575 6.35 4.275 2.7 2.7 4.275 6.35Q44 19.85 44 24t-1.575 7.8q-1.575 3.65-4.275 6.35-2.7 2.7-6.35 4.275Q28.15 44 24 44Zm-2.15-3.05v-4.1q-1.75 0-2.95-1.3-1.2-1.3-1.2-3.05v-2.2L7.45 20.05q-.25 1-.35 1.975Q7 23 7 24q0 6.5 4.225 11.35t10.625 5.6Zm14.7-5.4q1.1-1.2 1.925-2.55.825-1.35 1.4-2.825t.85-3.025Q41 25.6 41 24q0-5.3-2.9-9.625T30.35 8.05v.9q0 1.75-1.2 3.05-1.2 1.3-2.95 1.3h-4.35v4.35q0 .85-.675 1.4-.675.55-1.525.55H15.5V24h12.9q.85 0 1.4.65.55.65.55 1.5v6.35h2.15q1.45 0 2.55.85 1.1.85 1.5 2.2Z")

mixin icon_source_notes
	svg(viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor")&attributes(attributes)
		path(d="M5 19V5v14ZM7.5 8.725h9v-1h-9Zm0 3.775h5.15q.275-.3.588-.55.312-.25.662-.45H7.5Zm0 3.775h3q.05-.275.138-.513.087-.237.162-.487H7.5ZM5.625 20q-.675 0-1.15-.475Q4 19.05 4 18.375V5.625q0-.675.475-1.15Q4.95 4 5.625 4h12.75q.675 0 1.15.475.475.475.475 1.15V10.6q-.25-.1-.5-.15-.25-.05-.5-.075v-4.75q0-.25-.188-.437Q18.625 5 18.375 5H5.625q-.25 0-.437.188Q5 5.375 5 5.625v12.75q0 .25.188.437.187.188.437.188h4.75q.025.25.075.5.05.25.15.5ZM18 22.7q-1.6 0-2.837-.963-1.238-.962-1.663-2.437h.95q.4 1.125 1.35 1.813.95.687 2.2.687 1.575 0 2.688-1.112Q21.8 19.575 21.8 18q0-1.575-1.112-2.688Q19.575 14.2 18 14.2q-.925 0-1.762.437-.838.438-1.438 1.163h1.9v.9h-3.4v-3.4h.9v1.85q.7-.825 1.7-1.338 1-.512 2.1-.512 1.95 0 3.325 1.375Q22.7 16.05 22.7 18q0 1.95-1.375 3.325Q19.95 22.7 18 22.7Z")

mixin icon_visibility
	svg(viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor")&attributes(attributes)
		path(d="M12 15.15q1.525 0 2.588-1.063 1.062-1.062 1.062-2.587 0-1.525-1.062-2.588Q13.525 7.85 12 7.85q-1.525 0-2.587 1.062Q8.35 9.975 8.35 11.5q0 1.525 1.063 2.587Q10.475 15.15 12 15.15Zm0-.95q-1.125 0-1.912-.788Q9.3 12.625 9.3 11.5t.788-1.913Q10.875 8.8 12 8.8t1.913.787q.787.788.787 1.913t-.787 1.912q-.788.788-1.913.788Zm0 3.8q-3.25 0-5.925-1.762-2.675-1.763-4-4.738 1.325-2.975 4-4.738Q8.75 5 12 5t5.925 1.762q2.675 1.763 4 4.738-1.325 2.975-4 4.738Q15.25 18 12 18Zm0-6.5Zm0 5.5q2.825 0 5.188-1.488Q19.55 14.025 20.8 11.5q-1.25-2.525-3.612-4.013Q14.825 6 12 6 9.175 6 6.812 7.487 4.45 8.975 3.2 11.5q1.25 2.525 3.612 4.012Q9.175 17 12 17Z")
