doctype html
html(lang="en-CA")
	head
		meta(charset="utf-8")
		title Vote Mark Wiens
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(property="og:type" content="website")
		link(rel="icon" href="/favicon.ico" sizes="any")
		//- link(rel="icon" href="/favicon.svg" type="image/svg+xml")

		//- Critical styles
		style(type="text/css")
			include normalize-cherries.css
			include critical.css

		//- Tracking
		script(async src=`https://www.googletagmanager.com/gtag/js?id=${gaId}`)
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag("js", new Date());
			gtag("config", "#{gaId}");

	body
		p This site is no longer online.
